{% extends 'base.html' %}
{% block body %}
<h1>Cart summary</h1>
<div class="cart">
    <div class="card-container">
        {% for cartitem in cartitems %}
        <a href="{% url 'details' cartitem.product.id %}">
            <div class="card">
                <img src="{{ cartitem.product.image.url }}" alt="" class="card-img">
                <h3 class="name">{{ cartitem.product.name }}</h3>
                <p class="units">{{ cartitem.units }} units</p>
                <h4 class="price">₦{{ cartitem.get_price }}</h4>
            </div>
        </a>
        {% endfor %}
    </div>
    <h3>Total = <span>{{ order.total }}</span></h3>
    <a href="{% url 'checkout' %}">
        <button class = 'proceed-btn'>Proceed to checkout</button>
    </a>
</div>
{% endblock %}